# Added by Payload
PAYLOAD_SECRET=a967014914ed0831f54a33a3
DATABASE_URI=postgres://postgres:bwPJcRUGYuwXJr6v@127.0.0.1:5432/m-framing

# DATABASE_URI=postgresql://postgres.rlafmegpuplrzegidble:[YOUR-PASSWORD]@aws-1-ap-south-1.pooler.supabase.com:6543/postgres

S3_BUCKET=Imagess
S3_REGION=ap-south-1
S3_ENDPOINT=https://rlafmegpuplrzegidble.storage.supabase.co/storage/v1/s3
S3_ACCESS_KEY_ID=806b2e6e62e81e845172629e5628da4b
S3_SECRET_ACCESS_KEY=b4ad584ab8b1fae0b1fdb9a827155bd23bb661fd8e163b599ea70bc3e1353a00